In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
flights = pd.read_csv('../data/cleaned_flights_data.csv')

<ipython-input-2-788c2d979896>:1: DtypeWarning: Columns (4,5,20,21,22,23,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  flights = pd.read_csv('../data/cleaned_flights_data.csv')

In [3]:
flights.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE_x,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,LATITUDE_ORIGIN,LONGITUDE_ORIGIN,AIRPORT_DESTINATION,CITY_DESTINATION,STATE_DESTINATION,COUNTRY_DESTINATION,LATITUDE_DESTINATION,LONGITUDE_DESTINATION,Delay,DELAY_REASON
0,1,1,4,AS,ANC,SEA,00:05:00,23:54:00,21.0,205.0,...,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,USA,47.44898,-122.30931,-33.0,No Delay
1,1,1,4,AA,LAX,PBI,00:10:00,00:02:00,12.0,280.0,...,33.94254,-118.40807,Palm Beach International Airport,West Palm Beach,FL,USA,26.68316,-80.09559,-17.0,No Delay
2,1,1,4,US,SFO,CLT,00:20:00,00:18:00,16.0,286.0,...,37.61900,-122.37484,Charlotte Douglas International Airport,Charlotte,NC,USA,35.21401,-80.94313,3.0,ARRIVAL_DELAY
3,1,1,4,AA,LAX,MIA,00:20:00,00:15:00,15.0,285.0,...,33.94254,-118.40807,Miami International Airport,Miami,FL,USA,25.79325,-80.29056,-14.0,No Delay
4,1,1,4,AS,SEA,ANC,00:25:00,00:24:00,11.0,235.0,...,47.44898,-122.30931,Ted Stevens Anchorage International Airport,Anchorage,AK,USA,61.17432,-149.99619,-22.0,No Delay

In [4]:
flights['CANCELLED'].unique()

array([0, 1], dtype=int64)

In [5]:
flights_delay = flights[flights['CANCELLED'] == 0]

In [6]:
flights_delay.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE_x', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIRLINE_y', 'AIRPORT_ORIGIN', 'CITY_ORIGIN',
       'STATE_ORIGIN', 'COUNTRY_ORIGIN', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION',
       'Delay', 'DELAY_REASON'],
      dtype='object')

In [7]:
flights_delay.drop(columns='AIRLINE_y', inplace=True)

<ipython-input-7-d543523ea621>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_delay.drop(columns='AIRLINE_y', inplace=True)

In [8]:
flights_delay.rename(columns = {'AIRLINE_x':'AIRLINE'}, inplace=True)

<ipython-input-8-f04a18fd0710>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_delay.rename(columns = {'AIRLINE_x':'AIRLINE'}, inplace=True)

In [9]:
flights_delay.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIRPORT_ORIGIN', 'CITY_ORIGIN', 'STATE_ORIGIN',
       'COUNTRY_ORIGIN', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION',
       'Delay', 'DELAY_REASON'],
      dtype='object')

In [10]:
flights_delay.isna().sum()

MONTH                         0
DAY                           0
DAY_OF_WEEK                   0
AIRLINE                       0
ORIGIN_AIRPORT                0
DESTINATION_AIRPORT           0
SCHEDULED_DEPARTURE           0
DEPARTURE_TIME                0
TAXI_OUT                      0
SCHEDULED_TIME                1
ELAPSED_TIME              15187
AIR_TIME                  15187
DISTANCE                      0
TAXI_IN                    2629
SCHEDULED_ARRIVAL             2
ARRIVAL_TIME               2640
DIVERTED                      0
CANCELLED                     0
CANCELLATION_REASON           0
AIRPORT_ORIGIN           483711
CITY_ORIGIN              483711
STATE_ORIGIN             483711
COUNTRY_ORIGIN           483711
LATITUDE_ORIGIN          488283
LONGITUDE_ORIGIN         488283
AIRPORT_DESTINATION      483711
CITY_DESTINATION         483711
STATE_DESTINATION        483711
COUNTRY_DESTINATION      483711
LATITUDE_DESTINATION     488295
LONGITUDE_DESTINATION    488295
Delay                         0
DELAY_REASON                  0
dtype: int64

In [11]:
flights_delay[flights_delay['AIRPORT_ORIGIN'].isna()]

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,LATITUDE_ORIGIN,LONGITUDE_ORIGIN,AIRPORT_DESTINATION,CITY_DESTINATION,STATE_DESTINATION,COUNTRY_DESTINATION,LATITUDE_DESTINATION,LONGITUDE_DESTINATION,Delay,DELAY_REASON
4385712,10,1,4,AA,14747,11298,00:05:00,00:15:00,15.0,237.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.0,DEPARTURE_DELAY
4385713,10,1,4,DL,14771,13487,00:05:00,00:16:00,14.0,213.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,DEPARTURE_DELAY
4385714,10,1,4,NK,12889,13487,00:05:00,00:00:00,15.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-19.0,No Delay
4385715,10,1,4,AA,12892,13303,00:10:00,00:07:00,28.0,296.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,ARRIVAL_DELAY
4385716,10,1,4,AA,14771,11057,00:10:00,00:08:00,12.0,291.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.0,No Delay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871872,10,31,6,B6,11292,12478,23:59:00,00:14:00,11.0,208.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,DEPARTURE_DELAY
4871873,10,31,6,B6,12478,10732,23:59:00,23:58:00,16.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-18.0,No Delay
4871874,10,31,6,B6,12478,14843,23:59:00,01:32:00,18.0,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,253.0,"DEPARTURE_DELAY, ARRIVAL_DELAY, AIRLINE_DELAY"
4871875,10,31,6,UA,14747,12266,23:59:00,23:53:00,13.0,245.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-28.0,No Delay
4871876,10,31,6,UA,12892,12266,23:59:00,23:58:00,30.0,191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,ARRIVAL_DELAY

In [12]:
flights_delay.ORIGIN_AIRPORT.unique()

array(['ANC', 'LAX', 'SFO', 'SEA', 'LAS', 'DEN', 'SLC', 'PDX', 'FAI',
       'MSP', 'PHX', 'SJU', 'PBG', 'IAG', 'PSE', 'BQN', 'ORD', 'GEG',
       'HNL', 'ONT', 'MCO', 'BOS', 'HIB', 'ABR', 'DFW', 'MKE', 'IAH',
       'BNA', 'BRO', 'VPS', 'BOI', 'BJI', 'PHL', 'SBN', 'EUG', 'IAD',
       'BUF', 'PWM', 'JFK', 'CRP', 'PIA', 'FAT', 'SMF', 'AUS', 'MCI',
       'ATL', 'JAX', 'MFR', 'IDA', 'MSN', 'DCA', 'SAT', 'CHS', 'SBA',
       'IND', 'CLE', 'GSP', 'BDL', 'RIC', 'BFL', 'OMA', 'RDM', 'FLL',
       'CID', 'TPA', 'SYR', 'ROC', 'TYR', 'LAN', 'GSO', 'EWR', 'PBI',
       'RSW', 'OAK', 'PVD', 'RNO', 'PIT', 'ABQ', 'MIA', 'BWI', 'TUL',
       'LGA', 'LIT', 'MSY', 'OKC', 'ATW', 'PNS', 'MEM', 'TYS', 'MHT',
       'SAV', 'CLT', 'GRB', 'ABE', 'JAN', 'OAJ', 'FAR', 'ERI', 'LEX',
       'CWA', 'TTN', 'RDU', 'CVG', 'BHM', 'ACY', 'DTW', 'RAP', 'TUS',
       'EAU', 'DLH', 'FSD', 'INL', 'SPI', 'CLD', 'COD', 'CMH', 'PSC',
       'CPR', 'ACV', 'DAL', 'PAH', 'MRY', 'ESC', 'ISN', 'PSP', 'CAE',
       'STL', 'BTV', 'MTJ', 'GCC', 'OGG', 'SJC', 'GUC', 'ORF', 'MOT',
       'MLU', 'KOA', 'HOU', 'MOB', 'SAN', 'LAW', 'PIB', 'MGM', 'SBP',
       'COS', 'LAR', 'DRO', 'BIS', 'ITO', 'BTR', 'HLN', 'BZN', 'MDW',
       'MDT', 'SCE', 'LIH', 'TWF', 'BPT', 'GPT', 'STC', 'HPN', 'MLB',
       'PLN', 'CIU', 'CAK', 'DSM', 'BLI', 'SHV', 'SNA', 'ALB', 'LNK',
       'CMI', 'GTF', 'EKO', 'LGB', 'AVL', 'HSV', 'XNA', 'SUX', 'HYS',
       'MFE', 'ISP', 'BUR', 'DAB', 'DAY', 'LFT', 'LBE', 'ASE', 'GUM',
       'TVC', 'ALO', 'TLH', 'ELP', 'MHK', 'IMT', 'JNU', 'JAC', 'MEI',
       'DBQ', 'GNV', 'BRD', 'DIK', 'SDF', 'LBB', 'AVP', 'SGF', 'COU',
       'BTM', 'ELM', 'RKS', 'PIH', 'SUN', 'LWS', 'VEL', 'STT', 'SAF',
       'YUM', 'FCA', 'GRR', 'HDN', 'ROA', 'CHA', 'EYW', 'MYR', 'CRW',
       'MQT', 'CHO', 'GJT', 'FWA', 'ECP', 'EVV', 'MSO', 'EGE', 'AMA',
       'MLI', 'MBS', 'GFK', 'GRK', 'BIL', 'OTZ', 'KTN', 'STX', 'ILM',
       'PUB', 'RHI', 'CDC', 'HRL', 'SCC', 'FNT', 'LSE', 'MMH', 'ACT',
       'FSM', 'AGS', 'CEC', 'ICT', 'AEX', 'DHN', 'LRD', 'WRG', 'PHF',
       'CNY', 'BRW', 'GGG', 'AZO', 'CLL', 'SRQ', 'ORH', 'FLG', 'TRI',
       'VLD', 'SIT', 'BQK', 'BMI', 'PSG', 'FAY', 'MKG', 'CSG', 'MAF',
       'EWN', 'OME', 'CMX', 'JMS', 'SGU', 'RST', 'GTR', 'BET', 'TOL',
       'APN', 'SMX', 'LCH', 'RDD', 'GCK', 'DVL', 'GRI', 'ABY', 'SWF',
       'ILG', 'JLN', 'ADK', 'UST', 'TXK', 'SPS', 'ABI', 'YAK', 'SJT',
       'CDV', 'OTH', 'ADQ', 'PPG', 'ROW', 'HOB', 'BGM', 'BGR', 'ITH',
       'ACK', 'MVY', 'WYS', 'DLG', 'AKN', 'GST', 'HYA', '14747', '14771',
       '12889', '12892', '14869', '10299', '11292', '14107', '11630',
       '10732', '14254', '10141', '10627', '11982', '12173', '13930',
       '14683', '12266', '11618', '10721', '13487', '11884', '15919',
       '13851', '11111', '10693', '12191', '14783', '15016', '14487',
       '10423', '15370', '11953', '13891', '15376', '11778', '11278',
       '14100', '13204', '15304', '11637', '14842', '10155', '11775',
       '11298', '11057', '13931', '10821', '14122', '11049', '10990',
       '10631', '13158', '14108', '13198', '11447', '12206', '13495',
       '14057', '15624', '10747', '15411', '12891', '10994', '13256',
       '10792', '14492', '12451', '13127', '10781', '14960', '12278',
       '14685', '11995', '13485', '11977', '10257', '13796', '13232',
       '13296', '14570', '14893', '14524', '12217', '10713', '10208',
       '10136', '11603', '14689', '11471', '11315', '13264', '12478',
       '14814', '11308', '11066', '12896', '10397', '14307', '11721',
       '11140', '10185', '13277', '11203', '13342', '11433', '11697',
       '12953', '10599', '12156', '14952', '10620', '11042', '15096',
       '10408', '15249', '11423', '12915', '12264', '12339', '10140',
       '13871', '14027', '13244', '11267', '11540', '14576', '10868',
       '13486', '13476', '14489', '12945', '15607', '10529', '11986',
       '14635', '13303', '10785', '15380', '11996', '10561', '10874',
       '13367', '10146', '10431', '11973', '10980', '12197', '14098',
       '12323', '10577', '11150', '10135', '11617', '13795', '13029',
       '11003', '11146', '11577', '15356', '11259', '10279', '14321',
       '14843', '11638', '14828', '11481', '12951', '10434', '12448',
       '14730', '15323', '14252', '11193', '10849', '14193', '14986',
       '11641', '12992', '13422', '11612', '11823', '11980', '13290',
       '10158', '10685', '13377', '11109', '11076', '11122', '11865',
       '14543', '14905', '11587', '14457', '12335', '12343', '12003',
       '10157', '12884', '14633', '15048', '10268', '15295', '12389',
       '11525', '14262', '12888', '12391', '11648', '14696', '12758',
       '13830', '10469', '15412', '10731', '14679', '14831', '11413',
       '13433', '12982', '11867', '14698', '11537', '15389', '12402',
       '11337', '13360', '13076', '14006', '10728', '15401', '13230',
       '12016', '11067', '11274', '11921', '12519', '11013', '10779',
       '14150', '14794', '12511', '12177', '12523', '14908', '12007',
       '14588', '13577', '13061', '15041', '14109', '10800', '12954',
       '12441', '12898', '16218', '14113', '11624', '11503', '10739',
       '14574', '14711', '12129', '15070', '14520', '13184', '11252',
       '12280', '13241', '11898', '15024', '14674', '10551', '12819',
       '13459', '10581', '13970', '10372', '10918', '14709', '12255',
       11267, 12266, 10821, 14771, 11433, 11982, 11905, 15411, 14679,
       14108, 10397, 13871, 11618, 14574, 10423, 11259, 11140, 12191,
       12889, 13198, 10529, 10693, 13232, 11540, 14570, 14635, 14831,
       11298, 13204, 11278, 14100, 12892, 12478, 13930, 15304, 14107,
       12523, 12954, 11697, 14057, 12339, 13487, 14893, 11986, 11292,
       14576, 15370, 12402, 14908, 12953, 12758, 15016, 10721, 12264,
       10685, 11612, 13277, 11057, 12891, 12197, 11193, 10800, 13495,
       13891, 13244, 14843, 14747, 11996, 10333, 14262, 11695, 13342,
       14698, 10431, 15376, 12451, 14524, 13830, 13796, 14122, 14960,
       16218, 10713, 11066, 10208, 14683, 14869, 14492, 11638, 11413,
       10792, 10408, 14689, 10980, 14952, 12951, 15323, 11884, 14307,
       14730, 14783, 11603, 11977, 11921, 13577, 13061, 13851, 11042,
       12448, 12992, 10874, 12896, 11308, 12173, 12206, 13377, 10747,
       13256, 13303, 10185, 10599, 10140, 15295, 11898, 13795, 10728,
       10994, 12391, 10299, 12217, 13290, 12007, 11109, 15096, 10627,
       13433, 15249, 12278, 12915, 11637, 13931, 13485, 11721, 11775,
       13476, 15841, 14027, 15380, 12945, 11315, 15919, 13360, 10868,
       14986, 12982, 10279, 11150, 13264, 14193, 11823, 13367, 10469,
       11423, 11337, 11252, 13029, 14696, 11049, 13296, 14685, 13158,
       12323, 10257, 14588, 11274, 13344, 13933, 15412, 13422, 11146,
       15991, 13230, 14794, 11003, 14828, 10781, 10990, 10785, 10434,
       14457, 11481, 11537, 10136, 14814, 10754, 10135, 10731, 13127,
       14321, 10849, 14098, 10146, 15607, 11624, 12177, 10158, 12884,
       15624, 14256, 11973, 14842, 15356, 10561, 14113, 15389, 14489,
       12094, 12888, 13076, 12129, 13873, 10157, 11995, 10631, 12441,
       12343, 14252, 11097, 10732, 10154, 11122, 11641, 13486, 12003,
       10620, 10779, 12335, 11076, 15041, 12156, 12280, 10926, 12819,
       11865, 12519, 11778, 10551, 12389, 11953, 12898, 15024, 10155,
       11013, 10372, 11587, 13964, 11980, 11630, 11648, 14905, 11525,
       15070, 11471, 11111, 14633, 11447, 11203, 13241, 12511, 11067,
       10268, 13184, 10141, 13541, 14150, 15027, 14109, 15048, 14006,
       10739, 14520, 11617, 14487, 11867, 14674, 14543, 10577, 10170,
       11577, 14709, 14711, 12255, 10165, 10918, 15401, 15497, 12265,
       14254, 10581, 12016, 11503, 13459, 13970, 14222, 14025, 13502,
       '13873', '10926', '11695', '12265', '14256', '15027', '15841',
       '10170', '10333', '15991', '13933', '10754', '13344'], dtype=object)

# List of Features

* Month (original)
* Day (original)
* Day of the Week (original)
* Airline (original)
* Origin Airport (original)
* Destination Airport (original)
* Scheduled Departure Time (original)
* Departure Time (original)
* Departure Delay (original)
* Taxi Out (original)
* Wheels Off (original)
* Scheduled Time (original)
* Elapsed Time (original)
* Air Time (original)
* Distance (original)
* Wheels On (original)
* Taxi In (original)
* Scheduled Arrival Time (original)
* Arrival Time (original)
* Arrival Delay (original)
* Diverted (original)
* City Origin (original)
* State Origin (original)
* Country Origin (original)
Latitude Origin (original)
Longitude Origin (original)
Airport Destination (original)
City Destination (original)
State Destination (original)
Country Destination (original)
Latitude Destination (original)
Longitude Destination (original)
Delay (original)
Delay Reason (original) -- Not know in advance



# Derived Features
* Time of Day: Derived from Scheduled Departure/Arrival times
* Day/Night Indicator: Binary feature indicating if the flight is during the day or night
* Season: Derived from the month to capture seasonal effects
* Weekend Indicator: Whether the flight is on a weekend

## Derive Time of Day Feature

In [19]:
import pandas as pd
import numpy as np

# Time of Day
def get_time_of_day(time_str):
    
    if isinstance(time_str, str):
        # Split the time string and convert the hour to an integer
        hour = int(time_str.split(':')[0])
        
        if hour < 6:
            return 'Early Morning'
        elif hour < 12:
            return 'Morning'
        elif hour < 18:
            return 'Afternoon'
        else:
            return 'Evening'
    else:
        return 'Unknown'  # Handle missing or unexpected values

    
flights_delay['SCHEDULED_DEPARTURE_TIME_OF_DAY'] = flights_delay['SCHEDULED_DEPARTURE'].apply(get_time_of_day)
flights_delay['SCHEDULED_ARRIVAL_TIME_OF_DAY'] = flights_delay['SCHEDULED_ARRIVAL'].apply(get_time_of_day)

<ipython-input-19-145ff119df8d>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_delay['SCHEDULED_DEPARTURE_TIME_OF_DAY'] = flights_delay['SCHEDULED_DEPARTURE'].apply(get_time_of_day)
<ipython-input-19-145ff119df8d>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flights_delay['SCHEDULED_ARRIVAL_TIME_OF_DAY'] = flights_delay['SCHEDULED_ARRIVAL'].apply(get_time_of_day)

In [20]:
flights_delay[['SCHEDULED_DEPARTURE_TIME_OF_DAY','SCHEDULED_ARRIVAL_TIME_OF_DAY']].head()

  SCHEDULED_DEPARTURE_TIME_OF_DAY SCHEDULED_ARRIVAL_TIME_OF_DAY
0                   Early Morning                 Early Morning
1                   Early Morning                       Morning
2                   Early Morning                       Morning
3                   Early Morning                       Morning
4                   Early Morning                 Early Morning

# Drop these two rows as the scheduled arrival is unknown

In [25]:
flights_delay[flights_delay['SCHEDULED_ARRIVAL'].isna()]

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,STATE_DESTINATION,COUNTRY_DESTINATION,LATITUDE_DESTINATION,LONGITUDE_DESTINATION,Delay,DELAY_REASON,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY
1124523,3,14,6,F9,TPA,PHL,21:35:00,23:15:00,11.0,145.0,...,PA,USA,39.87195,-75.24114,268.0,"DEPARTURE_DELAY, ARRIVAL_DELAY, LATE_AIRCRAFT_...",Evening,Unknown,False,Unknown
1482599,4,5,7,OO,BIL,COD,21:49:00,22:15:00,12.0,131.0,...,WY,USA,44.52019,-109.02380,26.0,DEPARTURE_DELAY,Evening,Unknown,False,Unknown

In [32]:
flights_delay[flights_delay['SCHEDULED_DEPARTURE'].isna()]

Empty DataFrame
Columns: [MONTH, DAY, DAY_OF_WEEK, AIRLINE, ORIGIN_AIRPORT, DESTINATION_AIRPORT, SCHEDULED_DEPARTURE, DEPARTURE_TIME, TAXI_OUT, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, TAXI_IN, SCHEDULED_ARRIVAL, ARRIVAL_TIME, DIVERTED, CANCELLED, CANCELLATION_REASON, AIRPORT_ORIGIN, CITY_ORIGIN, STATE_ORIGIN, COUNTRY_ORIGIN, LATITUDE_ORIGIN, LONGITUDE_ORIGIN, AIRPORT_DESTINATION, CITY_DESTINATION, STATE_DESTINATION, COUNTRY_DESTINATION, LATITUDE_DESTINATION, LONGITUDE_DESTINATION, Delay, DELAY_REASON, SCHEDULED_DEPARTURE_TIME_OF_DAY, SCHEDULED_ARRIVAL_TIME_OF_DAY, DEPARTURE_DAY, ARRIVAL_DAY]
Index: []

[0 rows x 37 columns]

In [30]:
flights_delay = flights_delay.dropna(subset=['SCHEDULED_ARRIVAL'])

## Derive Day/Night Feature

In [31]:
# Day/Night Indicator
def is_day(time):
    # if isinstance(time, str):
        # Split the time string and convert the hour to an integer
    hour = int(time.split(':')[0])
    return 6 <= hour < 18
    # else:
        # return 'Unknown'  # Handle missing or unexpected values

flights_delay['DEPARTURE_DAY'] = flights_delay['SCHEDULED_DEPARTURE'].apply(is_day)
flights_delay['ARRIVAL_DAY'] = flights_delay['SCHEDULED_ARRIVAL'].apply(is_day)

In [33]:
flights_delay[['DEPARTURE_DAY','ARRIVAL_DAY']].head()

   DEPARTURE_DAY  ARRIVAL_DAY
0          False        False
1          False         True
2          False         True
3          False         True
4          False        False

## Derive Season and Weekend Features

* 6 means Saturday
* 7 means Sunday

In [34]:
# Season
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

flights_delay['SEASON'] = flights_delay['MONTH'].apply(get_season)

# Weekend Indicator
flights_delay['WEEKEND'] = flights_delay['DAY_OF_WEEK'].apply(lambda x: x >= 6)

# Display the dataframe
print(flights_delay)

         MONTH  DAY  DAY_OF_WEEK AIRLINE ORIGIN_AIRPORT DESTINATION_AIRPORT  \
0            1    1            4      AS            ANC                 SEA
1            1    1            4      AA            LAX                 PBI
2            1    1            4      US            SFO                 CLT
3            1    1            4      AA            LAX                 MIA
4            1    1            4      AS            SEA                 ANC
...        ...  ...          ...     ...            ...                 ...
5819074     12   31            4      B6            LAX                 BOS
5819075     12   31            4      B6            JFK                 PSE
5819076     12   31            4      B6            JFK                 SJU
5819077     12   31            4      B6            MCO                 SJU
5819078     12   31            4      B6            JFK                 BQN

        SCHEDULED_DEPARTURE DEPARTURE_TIME  TAXI_OUT  SCHEDULED_TIME  ...  \
0                  00:05:00       23:54:00      21.0           205.0  ...
1                  00:10:00       00:02:00      12.0           280.0  ...
2                  00:20:00       00:18:00      16.0           286.0  ...
3                  00:20:00       00:15:00      15.0           285.0  ...
4                  00:25:00       00:24:00      11.0           235.0  ...
...                     ...            ...       ...             ...  ...
5819074            23:59:00       23:55:00      22.0           320.0  ...
5819075            23:59:00       23:55:00      17.0           227.0  ...
5819076            23:59:00       23:50:00      17.0           221.0  ...
5819077            23:59:00       23:53:00      10.0           161.0  ...
5819078            23:59:00       00:14:00      14.0           221.0  ...

         LATITUDE_DESTINATION  LONGITUDE_DESTINATION  Delay  \
0                    47.44898             -122.30931  -33.0
1                    26.68316              -80.09559  -17.0
2                    35.21401              -80.94313    3.0
3                    25.79325              -80.29056  -14.0
4                    61.17432             -149.99619  -22.0
...                       ...                    ...    ...
5819074              42.36435              -71.00518  -30.0
5819075              18.00830              -66.56301  -20.0
5819076              18.43942              -66.00183  -17.0
5819077              18.43942              -66.00183  -16.0
5819078              18.49486              -67.12944   17.0

                           DELAY_REASON SCHEDULED_DEPARTURE_TIME_OF_DAY  \
0                              No Delay                   Early Morning
1                              No Delay                   Early Morning
2                         ARRIVAL_DELAY                   Early Morning
3                              No Delay                   Early Morning
4                              No Delay                   Early Morning
...                                 ...                             ...
5819074                        No Delay                         Evening
5819075                        No Delay                         Evening
5819076                        No Delay                         Evening
5819077                        No Delay                         Evening
5819078  DEPARTURE_DELAY, ARRIVAL_DELAY                         Evening

        SCHEDULED_ARRIVAL_TIME_OF_DAY  DEPARTURE_DAY  ARRIVAL_DAY  SEASON  \
0                       Early Morning          False        False  Winter
1                             Morning          False         True  Winter
2                             Morning          False         True  Winter
3                             Morning          False         True  Winter
4                       Early Morning          False        False  Winter
...                               ...            ...          ...     ...
5819074                       Morning          False         True  Winter
5819075                 Early Morning          False        False  Winter
5819076                 Early Morning          False        False  Winter
5819077                 Early Morning          False        False  Winter
5819078                 Early Morning          False        False  Winter

        WEEKEND
0         False
1         False
2         False
3         False
4         False
...         ...
5819074   False
5819075   False
5819076   False
5819077   False
5819078   False

[5729193 rows x 39 columns]

In [35]:
flights_delay.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,LATITUDE_DESTINATION,LONGITUDE_DESTINATION,Delay,DELAY_REASON,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY,SEASON,WEEKEND
0,1,1,4,AS,ANC,SEA,00:05:00,23:54:00,21.0,205.0,...,47.44898,-122.30931,-33.0,No Delay,Early Morning,Early Morning,False,False,Winter,False
1,1,1,4,AA,LAX,PBI,00:10:00,00:02:00,12.0,280.0,...,26.68316,-80.09559,-17.0,No Delay,Early Morning,Morning,False,True,Winter,False
2,1,1,4,US,SFO,CLT,00:20:00,00:18:00,16.0,286.0,...,35.21401,-80.94313,3.0,ARRIVAL_DELAY,Early Morning,Morning,False,True,Winter,False
3,1,1,4,AA,LAX,MIA,00:20:00,00:15:00,15.0,285.0,...,25.79325,-80.29056,-14.0,No Delay,Early Morning,Morning,False,True,Winter,False
4,1,1,4,AS,SEA,ANC,00:25:00,00:24:00,11.0,235.0,...,61.17432,-149.99619,-22.0,No Delay,Early Morning,Early Morning,False,False,Winter,False

In [36]:
flights_delay.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIRPORT_ORIGIN', 'CITY_ORIGIN', 'STATE_ORIGIN',
       'COUNTRY_ORIGIN', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION',
       'Delay', 'DELAY_REASON', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND'],
      dtype='object')

In [37]:
flights_delay['COUNTRY_DESTINATION'].unique()

array(['USA', nan], dtype=object)

In [40]:
flights_delay[~flights_delay['COUNTRY_DESTINATION'].isna()]

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,LATITUDE_DESTINATION,LONGITUDE_DESTINATION,Delay,DELAY_REASON,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY,SEASON,WEEKEND
0,1,1,4,AS,ANC,SEA,00:05:00,23:54:00,21.0,205.0,...,47.44898,-122.30931,-33.0,No Delay,Early Morning,Early Morning,False,False,Winter,False
1,1,1,4,AA,LAX,PBI,00:10:00,00:02:00,12.0,280.0,...,26.68316,-80.09559,-17.0,No Delay,Early Morning,Morning,False,True,Winter,False
2,1,1,4,US,SFO,CLT,00:20:00,00:18:00,16.0,286.0,...,35.21401,-80.94313,3.0,ARRIVAL_DELAY,Early Morning,Morning,False,True,Winter,False
3,1,1,4,AA,LAX,MIA,00:20:00,00:15:00,15.0,285.0,...,25.79325,-80.29056,-14.0,No Delay,Early Morning,Morning,False,True,Winter,False
4,1,1,4,AS,SEA,ANC,00:25:00,00:24:00,11.0,235.0,...,61.17432,-149.99619,-22.0,No Delay,Early Morning,Early Morning,False,False,Winter,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,12,31,4,B6,LAX,BOS,23:59:00,23:55:00,22.0,320.0,...,42.36435,-71.00518,-30.0,No Delay,Evening,Morning,False,True,Winter,False
5819075,12,31,4,B6,JFK,PSE,23:59:00,23:55:00,17.0,227.0,...,18.00830,-66.56301,-20.0,No Delay,Evening,Early Morning,False,False,Winter,False
5819076,12,31,4,B6,JFK,SJU,23:59:00,23:50:00,17.0,221.0,...,18.43942,-66.00183,-17.0,No Delay,Evening,Early Morning,False,False,Winter,False
5819077,12,31,4,B6,MCO,SJU,23:59:00,23:53:00,10.0,161.0,...,18.43942,-66.00183,-16.0,No Delay,Evening,Early Morning,False,False,Winter,False
5819078,12,31,4,B6,JFK,BQN,23:59:00,00:14:00,14.0,221.0,...,18.49486,-67.12944,17.0,"DEPARTURE_DELAY, ARRIVAL_DELAY",Evening,Early Morning,False,False,Winter,False

In [41]:
airports_df = pd.read_csv('../raw_data/airports.csv')

In [42]:
airports_df.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [43]:
airports_df[airports_df['IATA_CODE'] =='IAD']

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
149,IAD,Washington Dulles International Airport,Chantilly,VA,USA,38.94453,-77.45581

In [44]:
airports_df['IATA_CODE'].unique()

array(['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACK', 'ACT', 'ACV', 'ACY',
       'ADK', 'ADQ', 'AEX', 'AGS', 'AKN', 'ALB', 'ALO', 'AMA', 'ANC',
       'APN', 'ASE', 'ATL', 'ATW', 'AUS', 'AVL', 'AVP', 'AZO', 'BDL',
       'BET', 'BFL', 'BGM', 'BGR', 'BHM', 'BIL', 'BIS', 'BJI', 'BLI',
       'BMI', 'BNA', 'BOI', 'BOS', 'BPT', 'BQK', 'BQN', 'BRD', 'BRO',
       'BRW', 'BTM', 'BTR', 'BTV', 'BUF', 'BUR', 'BWI', 'BZN', 'CAE',
       'CAK', 'CDC', 'CDV', 'CEC', 'CHA', 'CHO', 'CHS', 'CID', 'CIU',
       'CLD', 'CLE', 'CLL', 'CLT', 'CMH', 'CMI', 'CMX', 'CNY', 'COD',
       'COS', 'COU', 'CPR', 'CRP', 'CRW', 'CSG', 'CVG', 'CWA', 'DAB',
       'DAL', 'DAY', 'DBQ', 'DCA', 'DEN', 'DFW', 'DHN', 'DIK', 'DLG',
       'DLH', 'DRO', 'DSM', 'DTW', 'DVL', 'EAU', 'ECP', 'EGE', 'EKO',
       'ELM', 'ELP', 'ERI', 'ESC', 'EUG', 'EVV', 'EWN', 'EWR', 'EYW',
       'FAI', 'FAR', 'FAT', 'FAY', 'FCA', 'FLG', 'FLL', 'FNT', 'FSD',
       'FSM', 'FWA', 'GCC', 'GCK', 'GEG', 'GFK', 'GGG', 'GJT', 'GNV',
       'GPT', 'GRB', 'GRI', 'GRK', 'GRR', 'GSO', 'GSP', 'GST', 'GTF',
       'GTR', 'GUC', 'GUM', 'HDN', 'HIB', 'HLN', 'HNL', 'HOB', 'HOU',
       'HPN', 'HRL', 'HSV', 'HYA', 'HYS', 'IAD', 'IAG', 'IAH', 'ICT',
       'IDA', 'ILG', 'ILM', 'IMT', 'IND', 'INL', 'ISN', 'ISP', 'ITH',
       'ITO', 'JAC', 'JAN', 'JAX', 'JFK', 'JLN', 'JMS', 'JNU', 'KOA',
       'KTN', 'LAN', 'LAR', 'LAS', 'LAW', 'LAX', 'LBB', 'LBE', 'LCH',
       'LEX', 'LFT', 'LGA', 'LGB', 'LIH', 'LIT', 'LNK', 'LRD', 'LSE',
       'LWS', 'MAF', 'MBS', 'MCI', 'MCO', 'MDT', 'MDW', 'MEI', 'MEM',
       'MFE', 'MFR', 'MGM', 'MHK', 'MHT', 'MIA', 'MKE', 'MKG', 'MLB',
       'MLI', 'MLU', 'MMH', 'MOB', 'MOT', 'MQT', 'MRY', 'MSN', 'MSO',
       'MSP', 'MSY', 'MTJ', 'MVY', 'MYR', 'OAJ', 'OAK', 'OGG', 'OKC',
       'OMA', 'OME', 'ONT', 'ORD', 'ORF', 'ORH', 'OTH', 'OTZ', 'PAH',
       'PBG', 'PBI', 'PDX', 'PHF', 'PHL', 'PHX', 'PIA', 'PIB', 'PIH',
       'PIT', 'PLN', 'PNS', 'PPG', 'PSC', 'PSE', 'PSG', 'PSP', 'PUB',
       'PVD', 'PWM', 'RAP', 'RDD', 'RDM', 'RDU', 'RHI', 'RIC', 'RKS',
       'RNO', 'ROA', 'ROC', 'ROW', 'RST', 'RSW', 'SAF', 'SAN', 'SAT',
       'SAV', 'SBA', 'SBN', 'SBP', 'SCC', 'SCE', 'SDF', 'SEA', 'SFO',
       'SGF', 'SGU', 'SHV', 'SIT', 'SJC', 'SJT', 'SJU', 'SLC', 'SMF',
       'SMX', 'SNA', 'SPI', 'SPS', 'SRQ', 'STC', 'STL', 'STT', 'STX',
       'SUN', 'SUX', 'SWF', 'SYR', 'TLH', 'TOL', 'TPA', 'TRI', 'TTN',
       'TUL', 'TUS', 'TVC', 'TWF', 'TXK', 'TYR', 'TYS', 'UST', 'VEL',
       'VLD', 'VPS', 'WRG', 'WYS', 'XNA', 'YAK', 'YUM'], dtype=object)

Airport file only shows the major airports

In [45]:
flights_delay.DISTANCE.isna().sum()

0

In [46]:
flights_delay.DISTANCE.unique()

array([1448, 2330, 2296, ...,  876, 1100, 1672], dtype=int64)

Since there is no missing value in Distance Column, we can use that as a feature and skip the long/lat columns that have a lot of missing values.

In [56]:
flights_delay.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIRPORT_ORIGIN', 'CITY_ORIGIN', 'STATE_ORIGIN',
       'COUNTRY_ORIGIN', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION',
       'Delay', 'DELAY_REASON', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND'],
      dtype='object')

In [60]:
features = ['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'SCHEDULED_DEPARTURE_TIME_OF_DAY', 
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DIVERTED', 'AIRPORT_ORIGIN', 'CITY_ORIGIN', 'STATE_ORIGIN',
       'COUNTRY_ORIGIN', 'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'Delay', 'DELAY_REASON']

In [62]:
flights_delay[features].isna().sum()

MONTH                                   0
DAY                                     0
DAY_OF_WEEK                             0
AIRLINE                                 0
ORIGIN_AIRPORT                          0
DESTINATION_AIRPORT                     0
SCHEDULED_DEPARTURE                     0
DEPARTURE_TIME                          0
TAXI_OUT                                0
SCHEDULED_TIME                          1
SCHEDULED_DEPARTURE_TIME_OF_DAY         0
ELAPSED_TIME                        15186
AIR_TIME                            15186
DISTANCE                                0
DEPARTURE_DAY                           0
ARRIVAL_DAY                             0
SEASON                                  0
WEEKEND                                 0
TAXI_IN                              2628
SCHEDULED_ARRIVAL                       0
ARRIVAL_TIME                         2639
SCHEDULED_ARRIVAL_TIME_OF_DAY           0
DIVERTED                                0
AIRPORT_ORIGIN                     483711
CITY_ORIGIN                        483711
STATE_ORIGIN                       483711
COUNTRY_ORIGIN                     483711
AIRPORT_DESTINATION                483711
CITY_DESTINATION                   483711
STATE_DESTINATION                  483711
COUNTRY_DESTINATION                483711
Delay                                   0
DELAY_REASON                            0
dtype: int64

In [64]:
flights_delay.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIRPORT_ORIGIN', 'CITY_ORIGIN', 'STATE_ORIGIN',
       'COUNTRY_ORIGIN', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION',
       'Delay', 'DELAY_REASON', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND'],
      dtype='object')

In [65]:
time_cols = ['SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DEPARTURE_DAY', 'ARRIVAL_DAY',]

In [66]:
flights_delay[flights_delay['ELAPSED_TIME'].isna()][time_cols]

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY
724,06:45:00,06:37:00,144.0,NaN,NaN,821,10:09:00,14:51:00,Morning,Morning,True,True
1455,07:45:00,07:42:00,176.0,NaN,NaN,984,10:41:00,15:05:00,Morning,Morning,True,True
2218,08:45:00,09:22:00,75.0,NaN,NaN,270,10:00:00,12:19:00,Morning,Morning,True,True
2526,09:02:00,08:59:00,75.0,NaN,NaN,295,10:17:00,13:19:00,Morning,Morning,True,True
2866,09:30:00,09:26:00,125.0,NaN,NaN,691,11:35:00,13:43:00,Morning,Morning,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
5813860,14:05:00,19:01:00,336.0,NaN,NaN,2615,21:41:00,NaN,Afternoon,Evening,True,False
5815052,15:30:00,15:55:00,110.0,NaN,NaN,482,17:20:00,NaN,Afternoon,Afternoon,True,True
5816657,17:35:00,17:40:00,351.0,NaN,NaN,2358,20:26:00,22:16:00,Afternoon,Evening,True,False
5817342,18:30:00,18:40:00,163.0,NaN,NaN,968,21:13:00,22:50:00,Evening,Evening,False,False
5818160,20:00:00,20:13:00,195.0,NaN,NaN,1121,22:15:00,23:25:00,Evening,Evening,False,False

# Define a function to calculate Elapsed Time in case of missing values

In [68]:
# Function to calculate elapsed time in minutes
def calculate_elapsed_time(departure, arrival):
    departure_dt = pd.Timestamp.combine(pd.Timestamp.today(), departure)
    arrival_dt = pd.Timestamp.combine(pd.Timestamp.today(), arrival)
    
    if arrival_dt < departure_dt:
        arrival_dt += pd.Timedelta(days=1)
        
    elapsed_time = (arrival_dt - departure_dt).total_seconds() / 60  # Convert seconds to minutes
    return elapsed_time

# Convert 'SCHEDULED_DEPARTURE' and 'SCHEDULED_ARRIVAL' to datetime.time objects
flights_delay['SCHEDULED_DEPARTURE'] = pd.to_datetime(flights_delay['SCHEDULED_DEPARTURE'], format='%H:%M:%S').dt.time
flights_delay['SCHEDULED_ARRIVAL'] = pd.to_datetime(flights_delay['SCHEDULED_ARRIVAL'], format='%H:%M:%S').dt.time


# Impute missing values in 'ELAPSED_TIME'
missing_elapsed_time = flights_delay['ELAPSED_TIME'].isna()
flights_delay.loc[missing_elapsed_time, 'ELAPSED_TIME'] = flights_delay[missing_elapsed_time].apply(
    lambda row: calculate_elapsed_time(row['SCHEDULED_DEPARTURE'], row['SCHEDULED_ARRIVAL']), axis=1)

In [69]:
flights_delay[flights_delay['ELAPSED_TIME'].isna()][time_cols]

Empty DataFrame
Columns: [SCHEDULED_DEPARTURE, DEPARTURE_TIME, SCHEDULED_TIME, ELAPSED_TIME, AIR_TIME, DISTANCE, SCHEDULED_ARRIVAL, ARRIVAL_TIME, SCHEDULED_DEPARTURE_TIME_OF_DAY, SCHEDULED_ARRIVAL_TIME_OF_DAY, DEPARTURE_DAY, ARRIVAL_DAY]
Index: []

In [70]:
flights_delay[features].isna().sum()

MONTH                                   0
DAY                                     0
DAY_OF_WEEK                             0
AIRLINE                                 0
ORIGIN_AIRPORT                          0
DESTINATION_AIRPORT                     0
SCHEDULED_DEPARTURE                     0
DEPARTURE_TIME                          0
TAXI_OUT                                0
SCHEDULED_TIME                          1
SCHEDULED_DEPARTURE_TIME_OF_DAY         0
ELAPSED_TIME                            0
AIR_TIME                            15186
DISTANCE                                0
DEPARTURE_DAY                           0
ARRIVAL_DAY                             0
SEASON                                  0
WEEKEND                                 0
TAXI_IN                              2628
SCHEDULED_ARRIVAL                       0
ARRIVAL_TIME                         2639
SCHEDULED_ARRIVAL_TIME_OF_DAY           0
DIVERTED                                0
AIRPORT_ORIGIN                     483711
CITY_ORIGIN                        483711
STATE_ORIGIN                       483711
COUNTRY_ORIGIN                     483711
AIRPORT_DESTINATION                483711
CITY_DESTINATION                   483711
STATE_DESTINATION                  483711
COUNTRY_DESTINATION                483711
Delay                                   0
DELAY_REASON                            0
dtype: int64

# Air time has missing value

In [71]:
flights_delay[flights_delay['AIR_TIME'].isna()][time_cols]

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY
724,06:45:00,06:37:00,144.0,204.0,NaN,821,10:09:00,14:51:00,Morning,Morning,True,True
1455,07:45:00,07:42:00,176.0,176.0,NaN,984,10:41:00,15:05:00,Morning,Morning,True,True
2218,08:45:00,09:22:00,75.0,75.0,NaN,270,10:00:00,12:19:00,Morning,Morning,True,True
2526,09:02:00,08:59:00,75.0,75.0,NaN,295,10:17:00,13:19:00,Morning,Morning,True,True
2866,09:30:00,09:26:00,125.0,125.0,NaN,691,11:35:00,13:43:00,Morning,Morning,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
5813860,14:05:00,19:01:00,336.0,456.0,NaN,2615,21:41:00,NaN,Afternoon,Evening,True,False
5815052,15:30:00,15:55:00,110.0,110.0,NaN,482,17:20:00,NaN,Afternoon,Afternoon,True,True
5816657,17:35:00,17:40:00,351.0,171.0,NaN,2358,20:26:00,22:16:00,Afternoon,Evening,True,False
5817342,18:30:00,18:40:00,163.0,163.0,NaN,968,21:13:00,22:50:00,Evening,Evening,False,False
5818160,20:00:00,20:13:00,195.0,135.0,NaN,1121,22:15:00,23:25:00,Evening,Evening,False,False

In [72]:
# Function to calculate air time
def calculate_air_time(row):
    if pd.notna(row['ELAPSED_TIME']) and pd.notna(row['TAXI_OUT']) and pd.notna(row['TAXI_IN']):
        return row['ELAPSED_TIME'] - row['TAXI_OUT'] - row['TAXI_IN']
    else:
        return np.nan

# Impute missing values in 'AIR_TIME'
flights_delay['AIR_TIME'] = (flights_delay.apply(lambda row: calculate_air_time(row) if pd.isna(row['AIR_TIME']) 
                                                 else row['AIR_TIME'], axis=1))

In [73]:
flights_delay[flights_delay['AIR_TIME'].isna()][time_cols]

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY
4639,11:25:00,12:06:00,75.0,75.0,NaN,295,12:40:00,NaN,Morning,Afternoon,True,True
7281,14:10:00,17:36:00,32.0,32.0,NaN,107,14:42:00,NaN,Afternoon,Afternoon,True,True
7508,14:27:00,14:36:00,172.0,112.0,NaN,913,16:19:00,NaN,Afternoon,Afternoon,True,True
11120,18:16:00,18:40:00,128.0,188.0,NaN,737,21:24:00,NaN,Evening,Evening,False,False
17275,08:30:00,08:24:00,80.0,80.0,NaN,383,09:50:00,NaN,Morning,Morning,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
5803507,19:25:00,20:33:00,115.0,235.0,NaN,758,23:20:00,NaN,Evening,Evening,False,False
5809154,08:55:00,09:05:00,105.0,105.0,NaN,482,10:40:00,NaN,Morning,Morning,True,True
5811879,11:55:00,12:09:00,95.0,95.0,NaN,482,13:30:00,NaN,Morning,Afternoon,True,True
5813860,14:05:00,19:01:00,336.0,456.0,NaN,2615,21:41:00,NaN,Afternoon,Evening,True,False
5815052,15:30:00,15:55:00,110.0,110.0,NaN,482,17:20:00,NaN,Afternoon,Afternoon,True,True

In [76]:
flights_delay[['ELAPSED_TIME','TAXI_OUT','TAXI_IN']].isna().sum()

ELAPSED_TIME       0
TAXI_OUT           0
TAXI_IN         2628
dtype: int64

In [79]:
flights_delay[flights_delay['ARRIVAL_TIME'].isna()][time_cols+['Delay']]

,SCHEDULED_DEPARTURE,DEPARTURE_TIME,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_TIME,SCHEDULED_DEPARTURE_TIME_OF_DAY,SCHEDULED_ARRIVAL_TIME_OF_DAY,DEPARTURE_DAY,ARRIVAL_DAY,Delay
4639,11:25:00,12:06:00,75.0,75.0,NaN,295,12:40:00,NaN,Morning,Afternoon,True,True,41.0
7281,14:10:00,17:36:00,32.0,32.0,NaN,107,14:42:00,NaN,Afternoon,Afternoon,True,True,206.0
7508,14:27:00,14:36:00,172.0,112.0,NaN,913,16:19:00,NaN,Afternoon,Afternoon,True,True,9.0
11120,18:16:00,18:40:00,128.0,188.0,NaN,737,21:24:00,NaN,Evening,Evening,False,False,24.0
17275,08:30:00,08:24:00,80.0,80.0,NaN,383,09:50:00,NaN,Morning,Morning,True,True,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5803507,19:25:00,20:33:00,115.0,235.0,NaN,758,23:20:00,NaN,Evening,Evening,False,False,68.0
5809154,08:55:00,09:05:00,105.0,105.0,NaN,482,10:40:00,NaN,Morning,Morning,True,True,10.0
5811879,11:55:00,12:09:00,95.0,95.0,NaN,482,13:30:00,NaN,Morning,Afternoon,True,True,14.0
5813860,14:05:00,19:01:00,336.0,456.0,NaN,2615,21:41:00,NaN,Afternoon,Evening,True,False,296.0
5815052,15:30:00,15:55:00,110.0,110.0,NaN,482,17:20:00,NaN,Afternoon,Afternoon,True,True,25.0

In [81]:
flights_delay.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED', 'CANCELLED',
       'CANCELLATION_REASON', 'AIRPORT_ORIGIN', 'CITY_ORIGIN', 'STATE_ORIGIN',
       'COUNTRY_ORIGIN', 'LATITUDE_ORIGIN', 'LONGITUDE_ORIGIN',
       'AIRPORT_DESTINATION', 'CITY_DESTINATION', 'STATE_DESTINATION',
       'COUNTRY_DESTINATION', 'LATITUDE_DESTINATION', 'LONGITUDE_DESTINATION',
       'Delay', 'DELAY_REASON', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND'],
      dtype='object')

In [84]:
flights_delay[flights_delay['ARRIVAL_TIME'].isna()][['TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME', 'DIVERTED']]

         TAXI_IN SCHEDULED_ARRIVAL ARRIVAL_TIME  DIVERTED
4639         NaN          12:40:00          NaN         1
7281         NaN          14:42:00          NaN         1
7508         NaN          16:19:00          NaN         1
11120        NaN          21:24:00          NaN         1
17275        NaN          09:50:00          NaN         1
...          ...               ...          ...       ...
5803507      NaN          23:20:00          NaN         1
5809154      NaN          10:40:00          NaN         1
5811879      NaN          13:30:00          NaN         1
5813860      NaN          21:41:00          NaN         1
5815052      NaN          17:20:00          NaN         1

[2639 rows x 4 columns]

Flights that were diverted have missing arrival time. Those rows will be deleted as the delay cannot be caluclated correctly with the new arrival time.

In [87]:
df = flights_delay[flights_delay['DIVERTED'] == 0][features]

In [88]:
df.isna().sum()

MONTH                                   0
DAY                                     0
DAY_OF_WEEK                             0
AIRLINE                                 0
ORIGIN_AIRPORT                          0
DESTINATION_AIRPORT                     0
SCHEDULED_DEPARTURE                     0
DEPARTURE_TIME                          0
TAXI_OUT                                0
SCHEDULED_TIME                          0
SCHEDULED_DEPARTURE_TIME_OF_DAY         0
ELAPSED_TIME                            0
AIR_TIME                                0
DISTANCE                                0
DEPARTURE_DAY                           0
ARRIVAL_DAY                             0
SEASON                                  0
WEEKEND                                 0
TAXI_IN                                 0
SCHEDULED_ARRIVAL                       0
ARRIVAL_TIME                            0
SCHEDULED_ARRIVAL_TIME_OF_DAY           0
DIVERTED                                0
AIRPORT_ORIGIN                     482878
CITY_ORIGIN                        482878
STATE_ORIGIN                       482878
COUNTRY_ORIGIN                     482878
AIRPORT_DESTINATION                482878
CITY_DESTINATION                   482878
STATE_DESTINATION                  482878
COUNTRY_DESTINATION                482878
Delay                                   0
DELAY_REASON                            0
dtype: int64

In [89]:
df[df['AIRPORT_ORIGIN'].isna()]

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,AIRPORT_ORIGIN,CITY_ORIGIN,STATE_ORIGIN,COUNTRY_ORIGIN,AIRPORT_DESTINATION,CITY_DESTINATION,STATE_DESTINATION,COUNTRY_DESTINATION,Delay,DELAY_REASON
4385712,10,1,4,AA,14747,11298,00:05:00,00:15:00,15.0,237.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.0,DEPARTURE_DELAY
4385713,10,1,4,DL,14771,13487,00:05:00,00:16:00,14.0,213.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,DEPARTURE_DELAY
4385714,10,1,4,NK,12889,13487,00:05:00,00:00:00,15.0,177.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-19.0,No Delay
4385715,10,1,4,AA,12892,13303,00:10:00,00:07:00,28.0,296.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,ARRIVAL_DELAY
4385716,10,1,4,AA,14771,11057,00:10:00,00:08:00,12.0,291.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-13.0,No Delay
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871872,10,31,6,B6,11292,12478,23:59:00,00:14:00,11.0,208.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,DEPARTURE_DELAY
4871873,10,31,6,B6,12478,10732,23:59:00,23:58:00,16.0,220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-18.0,No Delay
4871874,10,31,6,B6,12478,14843,23:59:00,01:32:00,18.0,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,253.0,"DEPARTURE_DELAY, ARRIVAL_DELAY, AIRLINE_DELAY"
4871875,10,31,6,UA,14747,12266,23:59:00,23:53:00,13.0,245.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-28.0,No Delay
4871876,10,31,6,UA,12892,12266,23:59:00,23:58:00,30.0,191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,ARRIVAL_DELAY

In [90]:
df.columns

Index(['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'DIVERTED', 'AIRPORT_ORIGIN',
       'CITY_ORIGIN', 'STATE_ORIGIN', 'COUNTRY_ORIGIN', 'AIRPORT_DESTINATION',
       'CITY_DESTINATION', 'STATE_DESTINATION', 'COUNTRY_DESTINATION', 'Delay',
       'DELAY_REASON'],
      dtype='object')

In [91]:
features2 = ['MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'ORIGIN_AIRPORT',
       'DESTINATION_AIRPORT', 'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME',
       'TAXI_OUT', 'SCHEDULED_TIME', 'SCHEDULED_DEPARTURE_TIME_OF_DAY',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DEPARTURE_DAY', 'ARRIVAL_DAY',
       'SEASON', 'WEEKEND', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'SCHEDULED_ARRIVAL_TIME_OF_DAY', 'Delay',
       'DELAY_REASON']

In [93]:
df[features2].isna().sum()

MONTH                              0
DAY                                0
DAY_OF_WEEK                        0
AIRLINE                            0
ORIGIN_AIRPORT                     0
DESTINATION_AIRPORT                0
SCHEDULED_DEPARTURE                0
DEPARTURE_TIME                     0
TAXI_OUT                           0
SCHEDULED_TIME                     0
SCHEDULED_DEPARTURE_TIME_OF_DAY    0
ELAPSED_TIME                       0
AIR_TIME                           0
DISTANCE                           0
DEPARTURE_DAY                      0
ARRIVAL_DAY                        0
SEASON                             0
WEEKEND                            0
TAXI_IN                            0
SCHEDULED_ARRIVAL                  0
ARRIVAL_TIME                       0
SCHEDULED_ARRIVAL_TIME_OF_DAY      0
Delay                              0
DELAY_REASON                       0
dtype: int64

In [94]:
df[features2].head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,TAXI_OUT,SCHEDULED_TIME,...,DEPARTURE_DAY,ARRIVAL_DAY,SEASON,WEEKEND,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,SCHEDULED_ARRIVAL_TIME_OF_DAY,Delay,DELAY_REASON
0,1,1,4,AS,ANC,SEA,00:05:00,23:54:00,21.0,205.0,...,False,False,Winter,False,4.0,04:30:00,04:08:00,Early Morning,-33.0,No Delay
1,1,1,4,AA,LAX,PBI,00:10:00,00:02:00,12.0,280.0,...,False,True,Winter,False,4.0,07:50:00,07:41:00,Morning,-17.0,No Delay
2,1,1,4,US,SFO,CLT,00:20:00,00:18:00,16.0,286.0,...,False,True,Winter,False,11.0,08:06:00,08:11:00,Morning,3.0,ARRIVAL_DELAY
3,1,1,4,AA,LAX,MIA,00:20:00,00:15:00,15.0,285.0,...,False,True,Winter,False,8.0,08:05:00,07:56:00,Morning,-14.0,No Delay
4,1,1,4,AS,SEA,ANC,00:25:00,00:24:00,11.0,235.0,...,False,False,Winter,False,5.0,03:20:00,02:59:00,Early Morning,-22.0,No Delay

In [95]:
# Save cleaned and merged data
df[features2].to_csv('../data/flights_delay_cleaned.csv', index=False)